*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart{
    width: 25%;
    height: fit-content;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    margin-top: 5vw;
    
}

#productImg{
    width: 100px;
    
}

.Icons{
    width: 8%;
}

.countTxt{
    font-size: 2.5vw;
    margin: 3vw;
}